html, body {
    margin: 0;
    height: 100%;
    font-family: Monospace;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    text-align: center;
  }
  #c {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  #info {
    color: #000000;
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
    z-index: 100;
}

#stats {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #fff;
    text-align: left;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 200px;
    height: 60px;
    border: solid 1px black;
    border-radius: 5px;
}
#stats2 {
  position: absolute;
  right: 10px;
  top: 80px;
  color: rgb(107, 129, 241);
  text-align: left;

  width: 500px;
  height: 200px;
  
}
#inset  {
    width: 200px;
    height: 200px;
    background-color: #fff; /* or transparent; will show through only if renderer alpha: true */
    border: 1px solid black; /* or none; */
    margin: 20px;
    padding: 0px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 100;
}

  